* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(161,100,223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}
.btn {
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    background-color: rebeccapurple;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.9;
}