* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: lightsteelblue;
}

.empty {
    width: 150px;
    height: 150px;
    background-color: #eeeeee;
    margin: 10px;
    border: 3px solid black;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    background-size: cover;
    width: 145px;
    height: 145px;
    cursor: pointer;
}
.hold {
    border: 5px solid #eeeeee;

}

.hovered {
    background-color: #333333;
    border-color: #ffffff;
    border-style: dashed;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}