:root {
    --line-border-fill: #3498db;
    --line-border-empty:  #e0e0e0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

.container {
    text-align: center;
}
.progress_bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress_bar::before {
   content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress__line {
    background-color:  var(--line-border-fill);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.circle {
    background-color:white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--line-border-empty) ;
    transition: .4s ease;
}
.circle.active {
    border-color: var(--line-border-fill);
}
.btn {
    color: var(--line-border-empty);
    border: 0;
    background-color: royalblue;
    margin: 5px;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:active {
    transform: scale(0.98);
}
.btn:focus {
    outline:0;
}
.btn:disabled {
    background-color:var(--line-border-empty);
    cursor: not-allowed;

}