* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
}

#canvas {
    border: 1px solid red;
}

.toolbar {
    width: 300px;
    padding: 20px;
    display: flex;
    background-color: red;
    border: 1px solid red;
}

.toolbar > * {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border: none;
    margin: 0 .2rem;
    padding: .15rem;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toolbar > *:last-child {
    margin-left: auto;
}

