* {
    box-sizing: border-box;
}
body {
    background-color: #efedd6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow-x:hidden ;
}
h1 {
    margin: 10px;
}
.box {
    background-color: steelblue;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3) ;
    margin: 10px;
    border-radius: 10px;
    transform: translateX(300%);
    transition: transform 0.4s ease;

}
.box:nth-of-type(even){
    transform: translateX(-300%);
}
.box.show {
    transform: translateX(0);
}
.box h2 {
    font-size: 35px;
}